<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- THEME STYLES-->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <!-- THEME STYLES-->

    <link href="~/Content/main.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/wickedpicker.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.timeselector.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/dataTables.checkboxes.css" rel="stylesheet" />
    <link href="~/Content/Dropdown-Checkboxes.css" rel="stylesheet" />

    <style type="text/css">
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
    </style>
    <style>

        .invoice {
            padding: 20px
        }

        .invoice-header {
            margin-bottom: 50px
        }

        .invoice-logo {
            margin-bottom: 50px;
        }

        .table-invoice tr td:last-child {
            text-align: right;
        }
    </style>
    @RenderSection("header", required: false)
</head>
<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <a class="link" href="index.html">
                    <span class="brand">
                        Admin
                        <span class="brand-tip">CAST</span>
                    </span>
                    <span class="brand-mini">AC</span>
                </a>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                    </li>
                    <li>
                        <form class="navbar-search" action="javascript:;">
                            <div class="rel">
                                <span class="search-icon"><i class="ti-search"></i></span>
                                <input class="form-control" placeholder="Search here...">
                            </div>
                        </form>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                <!-- START TOP-RIGHT TOOLBAR-->

                <ul class="nav navbar-toolbar">

                    <li class="dropdown dropdown-notification">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="noti"><i class="fa fa-bell-o rel" id="countnoti"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" id="content">
                            <li class="dropdown-menu-header" id="countheader">


                            </li>
                            <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f" id="maincontent">

                            </li>

                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown" id="bar">
                            <img src=@Url.Content("~/img/admin-avatar.png")>
                            <span></span>Admin<i class="fa fa-angle-down m-l-5"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" id="contents">
                            <li class="dropdown-divider"></li>
                            <a class="dropdown-item" href=@Url.Action("Logout", "Account")><i class="fa fa-power-off"></i>Logout</a>
                        </ul>
                    </li>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>

        </header>

        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <div class="admin-block d-flex">
                    <div>
                        <img src=@Url.Content("~/img/admin-avatar.png")>
                    </div>
                    <div class="admin-info">
                        <div class="font-strong">
                            <fieldset>
                                @if (Session["UserName"] != null)
                                {
                                    <text> @Session["UserName"].ToString() </text>
                                }
                            </fieldset>
                        </div>
                        <small>
                            @if (Session["RoleName"] != null)
                            {
                                <text> @Session["RoleName"].ToString() </text>
                            }
                        </small>
                    </div>
                </div>
                <ul class="side-menu metismenu">
                    <li>
                        <a class="active" href="index.html">
                            <i class="sidebar-item-icon fa fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="heading">TASKS</li>
                    <li>
                        @if (Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                        {
                            <a href="javascript:;">
                                <i class="sidebar-item-icon fa fa-bookmark"></i>
                                <span class="nav-label">Manage Admin Tasks</span><i class="fa fa-angle-left arrow"></i>
                            </a>
                            <ul class="nav-2-level collapse">

                                <li>@Html.ActionLink("Create User", "CreateUsers", "Admin")</li>
                                <li>@Html.ActionLink("View Users", "UserList", "Admin")</li>
                                <li>@Html.ActionLink("Assign Role", "Assignroles", "Admin")</li>
                                <li>@Html.ActionLink("Create Position", "Position", "Admin")</li>
                                <li>@Html.ActionLink("Assign Leaves to Position", "LeavesonPosition", "Admin")</li>
                                <li>@Html.ActionLink("Define Employee Leaves", "DefineEmployeeLeaves", "Admin")</li>
                                <li>@Html.ActionLink("Create Storage Location", "CreateStorageLocation", "Admin")</li>
                                <li>@Html.ActionLink("View Storage Location", "ViewStorageLocation", "Admin")</li>
                                <li>@Html.ActionLink("Create Item Type", "CreateItemType", "Admin")</li>
                                <li>@Html.ActionLink("View Item Types", "ViewItemTypes", "Admin")</li>
                                <li>@Html.ActionLink("Create Item Master", "CreateItems", "Admin")</li>
                                <li>@Html.ActionLink("View Items", "ViewItems", "Admin")</li>
                                <li>@Html.ActionLink("Create Vendors", "CreateVendors", "Admin")</li>


                            </ul>
                        }
                    </li>

                    <li>
                        @if (Session["RoleName"].ToString() == "Recruitment Manager" || Session["RoleName"].ToString() == "Recruitment Officer" || Session["RoleName"].ToString() == "DGM" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin")
                        {
                            <a href="javascript:;">
                                <i class="sidebar-item-icon fa fa-table"></i>
                                <span class="nav-label">Recruitment</span><i class="fa fa-angle-left arrow"></i>
                            </a>
                        }
                        <ul class="nav-2-level collapse">

                            @if (Session["RoleName"].ToString() == "Recruitment Manager" || Session["isAdmin"].ToString() == "Admin" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin")
                            {

                                <li>@Html.ActionLink("Create Vacancy", "CreateVacancy", "Recruitment")</li>
                                <li>@Html.ActionLink("View Vacancy", "ViewVacancy", "Recruitment")</li>


                            }

                            @if (Session["RoleName"].ToString() == "Recruitment Officer" || Session["isAdmin"].ToString() == "Admin" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin")
                            {

                                <li>@Html.ActionLink("View Applications", "ViewApplications", "Recruitment")</li>
                                <li>@Html.ActionLink("View Candidate", "ViewCandidate", "Recruitment")</li>
                                <li>@Html.ActionLink("View Marks", "ViewMarks", "Recruitment")</li>

                            }
                            @if (Session["RoleName"].ToString() == "DGM" || Session["isAdmin"].ToString() == "Admin" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("View ShortListed Candidates", "ViewShortlistedcandidate", "Recruitment")</li>

                            }

                        </ul>
                    </li>
                    <li>
                        @if (Session["RoleName"].ToString() == "Hr Manager" || Session["isAdmin"].ToString() == "Admin" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin")
                        {
                            <a href="javascript:;">
                                <i class="sidebar-item-icon fa fa-bar-chart"></i>
                                <span class="nav-label">Promotions</span><i class="fa fa-angle-left arrow"></i>
                            </a>
                            <ul class="nav-2-level collapse">
                                <li>@Html.ActionLink("Promotions", "Promotions", "Notifications")</li>
                            </ul>
                        }
                    </li>
                    <li>
                        @if (Session["RoleName"].ToString() == "Finance Manager" || Session["isAdmin"].ToString() == "Admin" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin")
                        {
                            <a href="javascript:;">
                                <i class="sidebar-item-icon fa fa-bar-chart"></i>
                                <span class="nav-label">Promotions</span><i class="fa fa-angle-left arrow"></i>
                            </a>
                            <ul class="nav-2-level collapse">
                                <li>@Html.ActionLink("View Promoted Employees", "SetPromotedEmployeeSalary", "Notifications")</li>
                            </ul>
                        }
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Personnel Actions</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-2-level collapse">

                            @if (Session["RoleName"].ToString() == "Recruitment Manager" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Transfer Request", "RequestTransfer", "Requests")</li>
                                <li>@Html.ActionLink("Leave Request", "LeaveRequest", "Requests")</li>
                            }
                            @if (Session["RoleName"].ToString() == "Recruitment Officer" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Transfer Request", "RequestTransfer", "Requests")</li>
                                <li>@Html.ActionLink("Leave Request", "LeaveRequest", "Requests")</li>
                            }
                            @if (Session["RoleName"].ToString() == "DGM" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Transfer Request", "RequestTransfer", "Requests")</li>
                                <li>@Html.ActionLink("Leave Request", "LeaveRequest", "Requests")</li>
                            }
                            @if (Session["RoleName"].ToString() == "Hr Manager" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Transfer Request", "RequestTransfer", "Requests")</li>
                                <li>@Html.ActionLink("Leave Request", "LeaveRequest", "Requests")</li>
                            }
                            @if (Session["RoleName"].ToString() == "Finance Manager" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Transfer Request", "RequestTransfer", "Requests")</li>
                                <li>@Html.ActionLink("Leave Request", "LeaveRequest", "Requests")</li>
                            }

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="sidebar-item-icon fa fa-bar-chart"></i>
                            <span class="nav-label">Purchase</span><i class="fa fa-angle-left arrow"></i>
                        </a>
                        <ul class="nav-2-level collapse">

                            @if (Session["RoleName"].ToString() == "Inventory Manager" || Session["RoleName"].ToString() == "Admin" && Session["isAdmin"].ToString() == "Admin" || Session["isAdmin"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Create PR", "CreatePurchaseRequest", "Inventory")</li>

                            }

                        </ul>
                    </li>



                </ul>
            </div>
        </nav>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <div class="box  box-primary box-body">
                <div class="page-content fade-in-up">
                    <input type="hidden" id="getcountvalue" />
                    <div class="ibox">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div style="text-align:center;height:300px">
            <img src="~/img/InternetSlowdown_Day.gif" />
        </div>
    </div>


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/popper.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>

    <link href="~/Content/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/Content/default-responsive.css" rel="stylesheet" />
    <link href="~/Content/ej.responsive.css" rel="stylesheet" />
    <link href="~/Content/ejgrid.responsive.css" rel="stylesheet" />
    <script src="~/Scripts/metisMenu.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/Scripts/app.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script src="~/Scripts/dashboard_1_demo.js" type="text/javascript"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.timeselector.js"></script>
    <script src="~/Scripts/dataTables.checkboxes.min.js"></script>

    <script type="text/javascript">
           $(function () {
               $("#bar").click(function (e) {

                   e.stopPropagation();

                   $("#contents").show();


               })
               $("#noti").click(function (e) {

                   e.stopPropagation();

                   $("#content").show();
                   var count = 0;
                   count = parseInt($('span.notify-signal').html()) || 0;
                   updatenoticontent();
                   updatenoticontentres();
                   showPromotionnoti();
                   showReqLeavenotires();
                   showReqLeavenoti();


                   $('#countnoti', this).html('&nbsp;');
               })
               $('html').click(function () {
                   $("#content").hide();
                   $("#contents").hide();

               })
               function updatenoticontent() {
                   $("#maincontent").empty();
                   $("#maincontent").append($('<li>Loading...</li>'))
                   $.ajax({
                       type: 'GET',
                       url: '/Notifications/GetReqNoti',
                       success: function (response) {
                           $("#maincontent").empty();
                           if (response.RequestId == null) {

                           }
                           $.each(response, function (i, v1) {
                               $("#maincontent").append($('<div><a href="/Requests/TransferResponse/' + v1.RequestId + '" class="list-group-item"> <div class="media"><div class="media-img"> <img src=@Url.Content("~/img/employee_transfer-512.png")></div> <div class="media-body"><div class="font-13" style="color:black;">' + v1.EmployeeName + ' has requested for transfer</div></div></div></a></div>'))
                           });
                       },
                       error: function (error) {
                           console.log(error);
                       }
                   })


               }
               function updatenoticontentres() {
                   $("#maincontent").empty();
                   $("#maincontent").append($('<li>Loading...</li>'))
                   $.ajax({
                       type: 'GET',
                       url: '/Notifications/GetReqNotires',
                       success: function (responses) {

                           $.each(responses, function (i, v) {
                               $("#maincontent").append($('<div id="getresa"><a href="/Requests/ViewTransferResponse/' + v.RequestId + '" class="list-group-item"> <div class="media"><div class="media-img"> <img src=@Url.Content("~/img/employee_transfer-512.png")></div> <div class="media-body"><div class="font-13" style="color:black;">Your "' + v.RequestType + '" request has been "' + v.Status + '"</div></div></div></a></div>'))

                           });


                       },
                       error: function (error) {
                           console.log(error);
                       }
                   })


               }
               function showPromotionnoti()
               {
                   $("#maincontent").empty();
                     $.ajax({
                       type: 'GET',
                       url: '/Notifications/GetEmpProres',
                       success: function (responses) {

                           $.each(responses, function (i, v) {
                               $("#maincontent").append($('<div id="getresp"><a href="/Notifications/PromotionDetails/' + v.EmployeeId + '" class="list-group-item"> <div class="media"><div class="media-img"> <img src=@Url.Content("~/img/promotions.png")></div> <div class="media-body"><div class="font-13" style="color:black;">You have been Promoted to ' + v.Position + ' based on your ' + v.Experience +' Experience and Performance"</div></div></div></a></div>'))

                           });


                       },
                       error: function (error) {
                           console.log(error);
                       }
                   })
               }
               function showReqLeavenoti()
               {
                   $("#maincontent").empty();
                     $.ajax({
                       type: 'GET',
                         url: '/Notifications/GetReqleave',
                       success: function (responses) {

                           $.each(responses, function (i, v) {
                               $("#maincontent").append($('<div id="getresp"><a href="/Requests/LeaveResponse/' + v.RequestId + '" class="list-group-item"> <div class="media"><div class="media-img"> <img src=@Url.Content("~/img/leaves.png")></div> <div class="media-body"><div class="font-13" style="color:black;">' + v.EmployeeName + ' has requested for ' + v.Leavetype + '"</div></div></div></a></div>'))

                           });


                       },
                       error: function (error) {
                           console.log(error);
                       }
                   })
               }
               function showReqLeavenotires()
               {
                   $("#maincontent").empty();
                     $.ajax({
                       type: 'GET',
                         url: '/Notifications/GetReqleaveres',

                       success: function (responses) {

                           $.each(responses, function (i, v) {
                               $("#maincontent").append($('<div id="getresp"><a href="/Requests/ViewLeaveResponse/' + v.RequestId + '" class="list-group-item"> <div class="media"><div class="media-img"> <img src=@Url.Content("~/img/leaves.png")></div> <div class="media-body"><div class="font-13" style="color:black;">Your ' + v.Leavetype + ' has been ' + v.Status + '"</div></div></div></a></div>'))

                           });


                       },
                       error: function (error) {
                           console.log(error);
                       }
                   })
               }

           })
           $(function () {
               $.ajax({
                   type: 'GET',
                   url: '/Notifications/GetReqNoticount',
                   success: function (data) {
                       $("#countnoti").empty();
                       $("#countheader").empty();
                       if (data.RequestId == null) {
                           $("#countnoti").empty();
                           $("#countheader").empty();
                       }
                       $.each(data, function (i, v) {
                           $("#getcountvalue").html(v.count);
                           if (v.count == 0) {
                               $("#countnoti").append($('<span class="notify-signal">&nbsp;</span>'))
                               $("#countheader").append($('<div><span><strong>No New</strong> Notification</span></div>'))
                           }
                           else {
                               $("#countnoti").append($('<span style="color:red;">' + v.count + '</span>'))
                               $("#countheader").append($('<div><span><strong>' + v.count + ' New</strong> Notifications</span></div>'))
                           }
                       });

                   },
                   error: function (error) {
                       console.log(error);
                   }
               })

           })

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
