@model Serene_AMS.ViewModels.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Forgot password</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="~/Content/auth-light.css" rel="stylesheet" />
</head>
<body class="bg-silver-300">
    @using (Html.BeginForm())
    {
        <div class="content">
            <div class="brand">
                <a class="link" href="#"></a>
            </div>
            <form id="forgot-form" action="javascript:;" method="post">
                <h3 class="m-t-10 m-b-10">Reset password</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(a => a.ResetCode)
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    }
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- CORE SCRIPTS-->
    <script src="~/Scripts/app.js"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script>
        $(function () {
            var successMessage = '@TempData["Error"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });
    </script>
    <script>
        $(function () {
            var successMessage = '@TempData["Success"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>

</body>
</html>
