@model Serene_AMS.ViewModels.ProcureVM
@{
    ViewBag.Title = "CreatePurchaseOrder";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            Create Purchase Order
        </li>
    </ol>
</nav>

<div class="ibox">

    <div class="ibox-body">
        <p>
            <button type="button" class="btn btn-primary">Create Purchase Order with out Reference</button>
        </p>
        <table id="tblprlistpo" class="table table-striped table-hover responsive table-responsive">
            <thead>
                <tr style="background-color:#0094ff; color:#ecf0f1">
                    <th>Document No</th>
                    <th>Document</th>
                    <th>Vendor</th>
                    <th>Requested Date</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Document No</th>
                    <th>Document</th>
                    <th>Vendor</th>
                    <th>Requested Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>


        </table>

        <div class="form-group">

            <label class="control-label col-md-2">Select PO to View</label>

            <div class="col-md-10" id="appendddlreport">
                <select onchange="javascript: ddldocpo(this);" class="form-control select2_demo_2" id="appendselect"><option id="select" value="0">Select PO to View</option></select>
            </div>
            
        
        </div>
       <button type="submit" id="btnsubmitdocpo" class="btn btn-primary">Generate PO</button>
        <input type="hidden" id="getdocpovalue"/>
                
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal" id="Modalpritems" tabindex="-1" data-backdrop="false">
                        <div class="modal-dialog ">
                            @Html.Partial("PRDetailsPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal" id="Modalconfirmreject" tabindex="-1" data-backdrop="false">
                        <div class="modal-dialog sm">
                            @Html.Partial("ConfirmRejectPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal" id="Modalpo" tabindex="-1" data-backdrop="false">
                        <div class="modal-dialog lg">
                            @Html.Partial("PRtoPOPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts{


    <script>
        $(function () {
            var successMessage = '@TempData["UpdateMessage3"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
    <script>
        $(function () {
            var successMessage = '@TempData["ErrorMessage3"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });
    </script>

    <script type="text/javascript">
        var dataTable1, dataTableprpo;
        $(function () {

            dataTableprpo = $('#tblprlistpo').DataTable({
                pageLength: 10,
                "ajax": {
                    "url": '/inventory/GetPrList',
                    "type": "get",
                    "datatype": "json",

                },

                "columns": [

                    { "data": "Docno", "authowidth": false },
                    { "data": "DocumentType", "authowidth": false },
                    { "data": "VendorName", "authowidth": false },
                    {
                        "data": "ItemRequestedDate", "render": function (mydata) {
                            var date = new Date(parseInt(mydata.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        },
                    },
                    {
                        "data": "DocumentNo", "render": function (data, type, full) {
                            return "<button type='button' onclick=Getprforpo('" + data + "') class='btn btn-primary' id='getbtnpo'>View Details</button> <button type='button' onclick=Getprdata('" + data + "') class='btn btn-success' id='getbtnpo'>Create PO</button> <button type='submit' onclick=RejectPr('" + data + "') class='btn btn-danger' id='getbtnp'>Reject</button>"
                        },
                    }
                   
                ]

            });

            $.ajax({
                type: 'GET',
                url: '/Inventory/GetDocPO',
                success: function (response) {

                    $("#appendselect").append('')
                    $.each(response, function (i, v1) {

                        $("#appendselect").append($('<option id="' + v1.DocumentNo + '" value="' + v1.DocumentNo + '">' + v1.DocumentNo + '</option>'))
                    });


                },
                error: function (error) {
                    console.log(error);
                }
            })

        });
        function Getprforpo(id) {
            $.ajax({
                type: 'GET',
                url: '/Inventory/RemovePrItemsforpo',
                data: { DocNo: id },
                success: function (responses) {

                    $.each(responses, function (i, v) {

                        $("#" + v.DocNo + "").remove();
                       
                    });


                },
                error: function (error) {
                    console.log(error);
                }
            })
            $.ajax({
                type: 'GET',
                url: '/Inventory/GetPrItemsforpo',
                data: { DocNo: id },
                success: function (responses) {

                    $.each(responses, function (i, v) {
                        var date = new Date(parseInt(v.RequestedDate.substr(6)));
                        var month = date.getMonth() + 1;
                      
                        $("#getitemsofpr").append($('<tr id="' + v.DocNo + '"><td>' + v.Prno + '</td><td>' + v.ItemName + '</td><td>' + v.Quantity + '</td><td>' + v.VendorName + '</td><td>' + date.getFullYear() + "/" + month + "/" + date.getDate() + '</td></tr>'))

                    });


                },
                error: function (error) {
                    console.log(error);
                }
            })
            $.get("/Inventory/GetItemsofPr", { id: id }, function (res) {

                $("#Modalpritems").modal('show');


            })

        }
        function RejectPr(id) {
            $.get("/Inventory/GetConfirmRejectPartial", { DocNo: id }, function (res) {
                $("#confirmrejectmodal").html(res);
                $("#Modalconfirmreject").modal('show');
            })
           
        }
        function Getvendorforpo(id) {
            $.get("/Inventory/GetVendorforItem", { id: id }, function (res) {
                $('#povendormodal').html(res);
                var minDate = new Date();
                $('input[type=datetime]').datepicker({ showAnim: 'drop', changeMonth: true, changeYear: false, minDate: minDate, dateFormat: "yy-mm-dd" }).datepicker("setDate", new Date);
                $("#Modalvendorselect").modal('show');

            })

        }
        function Getprdata(id) {
            $.get("/Inventory/GetPRDataPartial", { DocNo: id }, function (res) {
                $("#pomodal").html(res);
                $("#Modalpo").modal('show');
            })
        }
       
        
        function SuccessPostPo(res) {
            if (res) {
                $.ajax({
                    type: 'GET',
                    url: '/Inventory/RemoveDocPO',
                    success: function (response) {

                        $.each(response, function (i, v1) {

                            $("#" + v1.DocumentNo + "").remove();
                        });


                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                $.ajax({
                    type: 'GET',
                    url: '/Inventory/GetDocPO',
                    success: function (response) {

                        $("#appendselect").append('')
                        $.each(response, function (i, v1) {

                            $("#appendselect").append($('<option id="' + v1.DocumentNo + '" value="' + v1.DocumentNo + '">' + v1.DocumentNo + '</option>'))
                        });


                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                var modal = $("#Modalpo");

                modal.modal('hide');
                $.notify(res.message, {
                    globalPosition: "top center",
                    className: "success"

                });
                dataTableprpo.ajax.reload();


            }
        }
        function FailurePostpo(res) {
            alert("UnSuccessfull");
        }
        $("#btnsubmitdocpo").click(function (e) {
            var doc = $("#getdocpovalue").val();
            window.location.href = '@Url.Action("PODoc", "Inventory", new {id = "doc"})'.replace("doc", doc);
          
        });
        function ddldocpo(id) {
            $("#getdocpovalue").val(id.value);
          
        }
    </script>


}