@model Serene_AMS.ViewModels.ProcureVM
@{
    ViewBag.Title = "CreatePurchaseOrder";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            Create Purchase Order
        </li>
    </ol>
</nav>

<div class="ibox">

    <div class="ibox-body">
        <p>
            <button type="button" class="btn btn-primary">Create Purchase Order with out Reference</button>
        </p>
        <table id="tblprlistpo" class="table table-striped table-hover responsive table-responsive">
            <thead>
                <tr style="background-color:#0094ff; color:#ecf0f1">
                    <th>Document No</th>
                    <th>Document</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Document No</th>
                    <th>Document</th>
                    <th>Action</th>
                </tr>
            </tfoot>


        </table>

        <div class="form-group">

            <label class="control-label col-md-2">Select PO to View</label>

            <div class="col-md-10" id="appendddlreport">
                <select onchange="javascript: ddldocpo(this);" class="form-control select2_demo_2" id="appendselect"><option id="select" value="0">Select PO to View</option></select>
            </div>
            
        
        </div>
       <button type="submit" id="btnsubmitdocpo" class="btn btn-primary">Generate PO</button>
        <input type="hidden" id="getdocpovalue"/>
                
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal" id="Modalpritems" tabindex="-1" data-backdrop="false">
                        <div class="modal-dialog ">
                            @Html.Partial("PRItemsPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal" id="Modalvendorselect" tabindex="-1" data-backdrop="false">
                        <div class="modal-dialog lg">
                            @Html.Partial("POVendorPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal" id="Modalpo" tabindex="-1" data-backdrop="false">
                        <div class="modal-dialog lg">
                            @Html.Partial("PODocPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts{


    <script>
        $(function () {
            var successMessage = '@TempData["UpdateMessage3"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
    <script>
        $(function () {
            var successMessage = '@TempData["ErrorMessage3"]'
            if (successMessage != '')
                alertify.error(successMessage);
        });
    </script>

    <script type="text/javascript">
        var dataTable1, dataTableprpo;
        $(function () {

            dataTableprpo = $('#tblprlistpo').DataTable({
                pageLength: 10,
                "ajax": {
                    "url": '/inventory/GetPrList',
                    "type": "get",
                    "datatype": "json",

                },

                "columns": [

                    { "data": "DocumentNo", "authowidth": false },
                    { "data": "DocumentType", "authowidth": false },
                    {
                        "data": "DocumentNo", "render": function (data, type, full) {
                            return "<button type='button' onclick=Getprforpo('" + data + "') class='btn btn-primary' id='getbtnpo'>Create PO</button>"
                        },
                    },


                ]

            });



        });
        function Getprforpo(id) {
            $.ajax({
                type: 'GET',
                url: '/Inventory/RemovecommonPrItems',
                data: { DocNo: id },
                success: function (responses1) {

                    $.each(responses1, function (i, v1) {
                        $('#' + v1.DocNo + '').remove();

                    });

                },
                error: function (error) {
                    console.log(error);
                }
            })
            $.ajax({
                type: 'GET',
                url: '/Inventory/RemovePrItemsforpo',
                data: { DocNo: id },
                success: function (responses1) {

                    $.each(responses1, function (i, v1) {
                        $('#' + v1.DocNo + '').remove();

                    });

                },
                error: function (error) {
                    console.log(error);
                }
            })
            $.ajax({
                type: 'GET',
                url: '/Inventory/GetPrItemsforpo',
                data: { DocNo: id },
                success: function (responses) {

                    $.each(responses, function (i, v) {
                        $("#getitemsofpr").append($('<tr id=' + v.DocNo + '><td>' + id + '</td><td>' + v.ItemName + '</td><td><button type="button" onclick=Getvendorforpo(' + v.Id + ') class="btn btn-success" id="getbtnpo">Select</button></td></tr>'))

                    });


                },
                error: function (error) {
                    console.log(error);
                }
            })
            $.get("/Inventory/GetItemsofPr", { id: id }, function (res) {

                $("#Modalpritems").modal('show');


            })

        }
        function Getvendorforpo(id) {
            $.get("/Inventory/GetVendorforItem", { id: id }, function (res) {
                $('#povendormodal').html(res);
                var minDate = new Date();
                $('input[type=datetime]').datepicker({ showAnim: 'drop', changeMonth: true, changeYear: false, minDate: minDate, dateFormat: "yy-mm-dd" }).datepicker("setDate", new Date);
                $("#Modalvendorselect").modal('show');

            })




        }
        $("#formpovendor").submit(function (e) {
           
            var modal = $("#Modalvendorselect");
            var form = $('form[name="formpovendor"]');

            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                alert(data);
                $.post("/Inventory/GetVendorforItem", function (res) {
                    if (res) {
                        modal.modal('hide');
                        $("#Modalvendorselect").modal('show');


                    }

                })
            }
            e.preventDefault();
        });
        function OnSuccess(res) {
            if (res) {
                $.ajax({
                    type: 'GET',
                    url: '/Inventory/RemoveDocPO',
                    success: function (response) {                      

                        $.each(response, function (i, v1) {
                            
                            $("#" + v1.DocumentNo + "").remove();
                        });
                       

                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                $.ajax({
                       type: 'GET',
                       url: '/Inventory/GetDocPO',
                    success: function (response) {
                       
                        $("#appendselect").append('')
                        $.each(response, function (i, v1) {

                               $("#appendselect").append($('<option id="' + v1.DocumentNo + '" value="' + v1.DocumentNo + '">' + v1.DocumentNo + '</option>'))
                           });
                          

                    },
                       error: function (error) {
                           console.log(error);
                       }
                })
              
                var modal = $("#Modalvendorselect");
                if (res.code == 1) {


                    modal.modal('hide');
                    $.notify(res.message, {
                        globalPosition: "top center",
                        className: "success"

                    });
                    dataTableprpo.ajax.reload();

                }
                else {


                    $.notify(res.message, {
                        globalPosition: "top center",
                        className: "error"

                    });
                    dataTableprpo.ajax.reload();

                }
               
                      
                   
                
            }
        }
        function OnFailure(res) {
            alert("UnSuccessfull");
        }
        $("#btnsubmitdocpo").click(function (e) {
            var doc = $("#getdocpovalue").val();
            window.location.href = '@Url.Action("PODoc", "Inventory", new {id = "doc"})'.replace("doc", doc);
          
        });
        function ddldocpo(id) {
            $("#getdocpovalue").val(id.value);
          
        }
    </script>


}