@model Serene_AMS.ViewModels.ProcureVM
<div class="modal-content responsive" id="pomodal">
    <div class="modal-header">
        <h4 class="modal-title">PO</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

    </div>
    <div class="modal-body" style="overflow: auto">
        <div class="ibox invoice">

            @using (Html.BeginForm("GetPOHeader", "Inventory", FormMethod.Get, new { id = "getdataonpo" }))
            {
                <div class="invoice-header">
                    <h1 style="margin-left:500px;">Purchase Request</h1>
                    <div class="row">
                        <div class="col-6">
                            <div class="invoice-logo">
                                <img src="~/img/serene logo.jpg" />
                            </div>

                        </div>
                        <div class="col-6 text-left">
                            <div class="clf" style="margin-bottom:30px;">
                                <div class="col-6 text-right">
                                    <div class="m-b-5 font-bold">Purchase Order</div>
                                    <ul class="list-unstyled m-t-10">
                                        <li class="m-b-5">
                                            <span class="font-strong">Document No:</span> @Html.DisplayFor(x => x.DocNo)
                                        </li>
                                        <li class="m-b-5">
                                            <span class="font-strong">Created by:</span> @Html.DisplayFor(x => x.Createdby)
                                        </li>
                                        <li>
                                            <span class="font-strong">Created on:</span> @Html.DisplayFor(x => x.ReturnCreationDateForDisplay)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="m-b-5 font-bold">Order To</div>
                                <div>@Html.DisplayFor(x => x.VendorName)</div>
                                <ul class="list-unstyled m-t-10">
                                    <li class="m-b-5">@Html.DisplayFor(x => x.Address)</li>
                                    <li>@Html.DisplayFor(x => x.Contact)</li>
                                </ul>
                            </div>
                            @Html.EditorFor(model => model.DocNo, new { htmlAttributes = new { @class = "form-control", @id = "getdocnopo", @type = "hidden" } })

                        </div>
                    </div>
                </div>
            }
            <table class="table table-striped no-margin table-invoice">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Delivery Date</th>
                        <th class="text-right">Total</th>

                    </tr>
                </thead>
                <tbody id="getporecord"></tbody>
            </table>
            <table class="table no-border">
                <thead>
                    <tr>
                        <th></th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody id="totalal"></tbody>
            </table>

        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="postpowithvendor">Submit</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
    </div>
</div>
