@model Serene_AMS.ViewModels.VacancyVM
@{
    ViewBag.Title = "Create Vacancy";
}

<div class="page-heading">
    <h1 class="page-title">Create Vacancy</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Recruitment/CreateVacancy.cshtml">Create Vacancy<i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Create Vacancy</li>
    </ol>
</div>
<div class="ibox">

    <div class="ibox-body">

        @using (Html.BeginForm("CreateVacancy", "Recruitment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            @Html.HiddenFor(model => model.Id)
            <div id="appendinput">

            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.CityName, "City", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CityName, (SelectList)ViewBag.getcitylist, "Select City", new { @id = "getId", @class = "form-control select2_demo_2", @onchange = "ddltextchange()" })
                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, "Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.getdep1list, "Select Department", new { @id = "getdepartmId", @class = "form-control select2_demo_2", @onchange= "javascript: ddlgetpos(this);" })
                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
               
                <label class="control-label col-md-2">Position</label>
             
                <div class="col-md-10">
                    
                    <select class="form-control select2_demo_2" id="ddlpos">
                        
                    </select>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.JobLevel, "Job Level", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.JobLevel, (SelectList)ViewBag.getlevellist, "Select Level", new { @id = "getId", @class = "form-control select2_demo_2", @onchange = "ddltextchange()" })
                    @Html.ValidationMessageFor(model => model.JobLevel, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group row">
                @Html.LabelFor(model => model.RequiredQualification, "Qualification Required", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequiredQualification, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequiredQualification, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row">
                @Html.LabelFor(model => model.MarksCriteria, "Passing Marks for Test", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MarksCriteria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarksCriteria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Testpaper, "Upload Test", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                <div class="col-md-10">
                    <input type="file" accept=".docx,.pdf" name="postedFile1" />
                    @Html.ValidationMessage("CustomError")
                </div>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>


        }


    </div>
</div>
@section scripts{

    <script type="text/javascript">
        $(function () {
            var successMessage = '@TempData["SuccessMessage11"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function ddlgetpos(id) {

            $.get("/Recruitment/GetPositionbyId", { id: id.value }, function (res) {


                $.each(res, function (index, row) {
                   
                        $('#' + row.Id + '').remove();
                        $("#ddlpos").append("<option id='" + row.Id + "' value='" + row.Id + "'>" + row.Position + "</option>")

                    
                   
                });

            })

        }
       


    </script>
   

}