@model Serene_AMS.ViewModels.PositionVM

<form name="formEmpPro">


    <div class="modal-content responsive" id="emppromodal">
        <div class="modal-header">
            <h4 class="modal-title">Promote Employee</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>

        <div class="modal-body" style="overflow: auto">

            <div class="form-group row">

                <div class="col-md-10">
                    <label>Employee Name:</label>
                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })


                @Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @id = "getdepid" } })

                @Html.EditorFor(model => model.JobLevel, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @id = "getjoblvl" } })



                @Html.EditorFor(model => model.PositionId, new { htmlAttributes = new { @class = "form-control", @id = "PosID", @type = "hidden" } })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                @Html.EditorFor(model => model.posidtopro, new { htmlAttributes = new { @class = "form-control", @id = "PosIDforpro", @type = "hidden" } })

            </div>
            <div class="form-group row">

                <div class="col-md-10">
                    <label>Current Position:</label>
                    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>

            </div>
            <div class="form-group row">

                <div class="col-md-10">
                    <label>Position to Promote:</label>
                    <select  onchange="javascript: ddlpostopro(this);" class="form-control select2_demo_2" id="ddlposition"></select>
                </div>

            </div>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="Updateemppos()">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>


</form>


@section scripts{
    <script type="text/javascript">
       
    </script>
    

}


