@model Serene_AMS.ViewModels.PositionVM
@{
    ViewBag.Title = "Promotion Details";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            Promotion Details
        </li>
    </ol>
</nav>


<div class="ibox">

    <div class="ibox-body">
        @using (Html.BeginForm("PromotionDetails", "Notifications", FormMethod.Get, new { name = "formpromotiondetail" }))
        {

            <div class="form-group row">

                <div class="col-md-10">
                    
                    @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                   
                </div>
            </div>

            <div class="col-sm-4 col-form-label" style="left:350px;">
                <h4 style="color:blue;">Transfer Request Details</h4>
            </div>
            <br />
            <div class="form-group row" style="left:350px;">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Employee Name:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.EmployeeName)
                    </label>
                </div>
            </div>

           

           

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    New Designation:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.Position)
                    </label>
                </div>
            </div>

            

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    New Salary:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.Employeesalary)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Promotion Date:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.DateofPromotion)
                    </label>
                </div>
            </div>
           



        }

    </div>
</div>
@section scripts{


    <script type="text/javascript">
     $(function () {
         var form = $('form[name="formpromotiondetail"]');

         form.validate();
         if (!form.valid()) {
             return;
         } else {
             var data = form.serialize();
             $.post("/Notifications/UpdateSeenPromotion", data, function (res) {
                 if (res) {

                 }

             })
         }

     })
    </script>



}

