@model Serene_AMS.ViewModels.RequestVM
@{
    ViewBag.Title = "LeaveResponse";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            Transfer Requests
        </li>
    </ol>
</nav>


<div class="ibox">

    <div class="ibox-body">
        @using (Html.BeginForm("LeaveResponse", "Requests", FormMethod.Post))
        {
            <div class="form-group row">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequestId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                    @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })

                </div>
            </div>

            <div class="col-sm-4 col-form-label" style="left:350px;">
                <h4 style="color:blue;">Leave Request Details</h4>
            </div>
            <br />
            <div class="form-group row" style="left:350px;">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Employee Name:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.EmployeeName)
                    </label>
                </div>
            </div>

            <div class="form-group row ">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Current City:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px;">
                        @Html.DisplayFor(model => model.CityName)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Leave Type:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.Leavetype)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Department:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.DepartmentName)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Designation:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.Position)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    From Date:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.FromDate)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    To Date:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.ToDate)
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Request Date:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.DateofRequest)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" style="left:320px; color:red;">
                    Reason of Leave:
                </label>
                <div class="col-md-10">
                    <label class="col-sm-2 col-form-label" style="left:350px; ">
                        @Html.DisplayFor(model => model.ReasonofRequest)
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ResponseReason, "Reason", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ResponseReason, new { htmlAttributes = new { @class = "form-control", @id = "getresleavereq" } })
                    @Html.ValidationMessageFor(model => model.ResponseReason, "", new { @class = "text-danger" })
                </div>
            </div>


            <button type="submit" class="btn-primary">Approve</button>

        }
        @using (Html.BeginForm("LeaveResponseReject", "Requests", FormMethod.Post))
        {
            @Html.EditorFor(model => model.ResponseReasonrej, new { htmlAttributes = new { @class = "form-control", @id = "getresreq2", @type = "hidden" } })
            @Html.EditorFor(model => model.RequestId, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
            <button type="submit" class="btn btn-danger">Reject</button>
        }
    </div>
</div>

@section scripts{

    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage101"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(function () {
            $('#getresleavereq').keyup(function () {
                var text = $("#getresleavereq").val();
                $("#getresreq2").val(text);

            });


        });


    </script>




}