@model Serene_AMS.ViewModels.RequestVM
@{
    ViewBag.Title = "Leave Request";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            Leave Requests
        </li>
    </ol>
</nav>

<div class="ibox">

    <div class="ibox-body">

        @using (Html.BeginForm("LeaveRequest", "Requests", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.EditorFor(model => model.positionid, new { htmlAttributes = new { @class = "form-control", @id = "getpos", @Value = ViewBag.currentpos, @type = "hidden" } })
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            <div class="form-group row">
                <label class="control-label">From Date</label>
                <div class="input-group date">
                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "datepicker", @id = "dateInterview" } })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label">To Date</label>
                <div class="input-group date">
                    <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "datepicker", @id = "dateInterview" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Leavetype, "Leave Type", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Leavetype, (SelectList)ViewBag.getleavelist, "Select Type", new { @id = "getId", @class = "form-control select2_demo_2", @onchange = "javascript: ddlgetposition(this);" })
                    @Html.ValidationMessageFor(model => model.Leavetype, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReasonofRequest, "Reason of Leave", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReasonofRequest, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReasonofRequest, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }
    </div>
    </div>

@section scripts{
    
    <script type="text/javascript">
         
        $(function () {

            $("#dateInterview").datepicker({ changeMonth: true, changeYear: true });
            
        });
    </script>
    
    
 }